config.h.in~
*.dSYM
*.o
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
autoscan.log
compile
config.log
config.status
configure
configure.scan
depcomp
include/config.h
include/config.h.in
include/stamp-h1
install-sh
missing
skall
src/.deps/
src/Makefile
src/Makefile.in
